<!DOCTYPE html>
<html>
<head>
	<title>DASHBOARD</title>
	<link rel="stylesheet" type="text/css" href="css/styledash.css">
</head>
<body>
    <div class="main">
			<div class="logo">
				<img src="static/logo.png">
			</div>
			
		<div class="title">
			<h1>EMPLOYEE ACHIEVEMENT SOLUTIONS</h1>
		</div>
	<div class="menu">
			<ul>
				<li class="active"><a href="#">MANAGER</a>
                 <div class="submenu">
                     <ul>
                     	<li><a href="#">TEAMS</a></li>
                     	<li><a href="#">ASSIGN TASK</a></li>
                     	<li><a href="#">LEADERBOARD</a></li>
                     	<li><a href="#">REWARDS</a></li>
                     	<li><a href="#">ASSIGN PTS</a></li>
                     </ul>
                   </div>
                </li>
				<li class="active"><a href="#">EMPLOYEE</a>
					<div class="submenu">
                     <ul>
                     	<li><a href="#">TEAMS</a></li>
                     	<li><a href="#">TASKS</a></li>
                     	<li><a href="#">LEADERBOARD</a></li>
                     	<li><a href="#">REWARDS</a></li>
                     </ul>
                   </div>
				</li>
			</ul>
    </div>
</body>
</html>