<!DOCTYPE html>
<html>
<head>
	<title>LOGIN AS</title>
	<link rel="stylesheet" type="text/css" href="css/styleloginas.css">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="static/logo.png">
		<div class="title">
			<h1>EMPLOYEE ACHIEVEMENT SOLUTIONS</h1>
		</div>
		<div class="subhead">
			<h2>LOGIN AS ?</h2>
		</div>
		<div class="button">
			<a href="login.html" class="btn">EMPLOYEE</a>
			<a href="login.html" class="btn">MANAGER</a>
		</div>
	</header>

</body>
</html>